@import './tailwind.css';
*{
  text-decoration: none;
  list-style: none;
  font-family: 'Lato';
}

body{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.App{
  display: grid;
  grid-template-areas: 'head head head'
                        'body body body'
                        'subfoot subfoot subfoot'
                        'foot foot foot';
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr auto 80px;
  width: 100%;
  height: 100vh;
 

}
.w-full{
  padding: 20px;
}
.body{
  grid-area: body;
  margin-top: 10px;

}
.footer-component{
  width: 100%;
  height: auto;
  background-color: blue;
  grid-area: subfoot;
  bottom: 0px;
  color: white;
  padding: 20px;
}
h3{
  color: white;
}
hr{
  background-color: white;
  width: 100%;
}
.circle{
  background: url('./img/checked.png') no-repeat;
  background-size: 20px;
  padding-left: 6%;
}
img{
height: 80px;
width: 180px;
}
.inside-image-left{
  display: flex;
}
.inside-image-right{
  display: flex;
}

@media only screen and (min-width: 900px){
    .App{
      grid-template-areas: 'head head head head'
                            'subfoot subfoot body body'
                            'foot foot foot foot';
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 80px 1fr 50px;
    }
    .subfooter-component{

    }
    
}