.subfooter-component{
    width: 100%;
    height: auto;
    background-color: rgb(22,39,119);
    grid-area: subfoot;
    bottom: 0px;
    color: white;
    padding: 20px;
}
h3{
    color: white;
    text-align: center;
}
hr{
    background-color: white;
    width: 100%;
}
.circle{
    background: url('../../img/checked.png') no-repeat;
    background-size: 20px;
    padding-left: 6%;
}
.container-image{

}
img{
 height: 80px;
 width: 180px;
}
.inside-image-left{
    display: flex;
}
.inside-image-right{
    display: flex;
}

@media only screen and (min-width: 700px) {
    .container-image{
        display: flex;
    }
    .container-circle{
        display: flex;
    }
    .left-circle{
        margin-right: 10%;
    }
    .circle{
        padding-left: 12%;
    }
}

@media only screen and (min-width: 900px){
    .container-circle{
        display: block;
    }
    .circle{
        padding-left: 5%;
    }
    .container-image{
        display: block;
    }
    .inside-image-left > img{
        margin-right: 10%;
    }
    .inside-image-right > img{
        margin-right: 10%;
        margin-top: 10%;
    }
    h3{
        text-align: left;
        margin-bottom: 5%;
    }
    .subfooter-component{
        padding: 35px;
    }
}